{% if snippet-product-item == '' %}{% assign snippet-product-item = 'four' %}{% endif %}

<li class="{{ snippet-product-item }}-per-row clearfix{% unless product.available %} sold-out{% endunless %}">

  <div class="coll-image-wrap">  
    {% if product.available == false %}
      {% if settings.show_sold_out_rondel %}
      <a class="sold-out-overlay{% if snippet-product-item == 'three' %} large{% endif %}" href="{{ product.url | within: collection }}">
        <span><em>{{ settings.sold_out_rondel_text }}</em></span>
      </a>
      {% endif %}
    {% elsif product.compare_at_price > product.price and settings.show_sale_rondel %}  
      <a class="sale-overlay{% if snippet-product-item == 'three' %} large{% endif %}" href="{{ product.url | within: collection }}">
        <span><em>{{ settings.sale_rondel_text }}</em></span>
      </a>
    {% endif %}
    {% assign ratio = settings.product_img_w_to_h_ratio | times: 1.0 %}
    <a href="{{ product.url | within: collection }}">
      {% if snippet-product-item == 'three' or ratio < 1 %}
      <img src="{{ product.featured_image.src | product_img_url: 'large' }}" alt="{{ product.featured_image.alt | escape }}" />
      {% else %}
      <img src="{{ product.featured_image.src | product_img_url: 'medium' }}" alt="{{ product.featured_image.alt | escape }}" />
      {% endif %}
    </a>
  </div><!-- .coll-image-wrap -->
  
  <div class="coll-prod-caption">
    {% if settings.show_buy_medallion %}
    <a class="coll-prod-buy styled-small-button{% unless product.available %} disabled{% endunless %}" href="{{ product.url | within: collection }}">
      {% if product.available or settings.sold_out_rondel_text.size == 0 %}{{ settings.buy_medallion_text }}{% else %}{{ settings.sold_out_rondel_text }}{% endif %}
    </a>
    {% endif %}    
    <div class="coll-prod-meta {% unless settings.show_buy_medallion %}no-medallion{% endunless %}">
      <a href="{{ product.url | within: collection }}" class="coll-prod-title">
        {{ product.title }}
      </a>
      {% if product.compare_at_price > product.price %}
      <p class="coll-prod-price on-sale accent-text">
        {{ product.price | money }} 
        <em class="compare-at-price">{{ product.compare_at_price | money }}</em>
      </p>
      {% else %}
      <p class="coll-prod-price accent-text">
        {% if product.price_varies %}From{% endif %}
        {{ product.price | money }}
      </p>
      {% endif %}
    </div><!-- .coll-prod-meta -->

  </div><!-- .coll-prod-caption -->
  
</li>