<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <link rel="shortcut icon" type="image/png" href="{{ 'favicon.png' | asset_url }}" />

  <title>
    {% if template == 'index' %} {% if settings.fp_title.size > 0 %} {{ settings.fp_title }} {% else %} {{ shop.name }} {% endif %} {% elsif template == '404' %} {{ settings.404_title }} {% else %} {{ page_title }} &ndash; {{ shop.name }} {% endif %}
  </title>
  
  {% assign maxmeta = 155 %}
  {% if template contains 'product' %}
  <meta name="description" content="{{ product.description | strip_html | strip_newlines | truncate: maxmeta | escape }}" />
  {% elsif template contains 'page' %}
  <meta name="description" content="{{ page.content | strip_html | strip_newlines | truncate: maxmeta | escape }}" />
  {% elsif template contains 'article' %}
  <meta name="description" content="{{ article.content | strip_html | strip_newlines | truncate: maxmeta | escape }}" />
  {% elsif template == 'index' and shop.description != '' %}
  <meta name="description" content="{{ shop.description | strip_html | strip_newlines | truncate: maxmeta | escape }}" />
  {% endif %}
  
  <link rel="canonical" href="{{ canonical_url }}" />
  
  {% include 'snippet-fb-open-graph-tags' %}

  {{ content_for_header }}

  {{ 'style.css' | asset_url | stylesheet_tag }}
  
  {% if settings.logo_font contains 'Google' %}
  {% assign logo_font_parts = settings.logo_font | split: '_' %}
  <link href='http://fonts.googleapis.com/css?family={{ logo_font_parts[1] }}' rel='stylesheet' type='text/css'>
  {% endif %}
  
  <!--[if lt IE 9]>
  <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
  {{ 'dd_roundies.js' | asset_url | script_tag }}
  <![endif]-->

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"></script>

  {{ 'option_selection.js' | shopify_asset_url | script_tag }}

  <!--[if lt IE 8]>
  {{ 'json2.js' | asset_url | script_tag }}
  <![endif]-->

  {% if template contains 'customers' %}
  {{ 'customer.css' | asset_url | stylesheet_tag }}
  {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
  {{ 'customer_area.js'  | shopify_asset_url | script_tag }}
  {% endif %}

  <script>
  var twitterID = '{{ settings.twitter_username }}',
      slideshow = {{ settings.show_slideshow }},
      slideshow_auto = {{ settings.slideshow_auto }},
      slideshow_speed = {{ settings.rotate_freq }}, 
      product_image_w_to_h_ratio = {{ settings.product_img_w_to_h_ratio }},
      shop_url = '{{ shop.url }}';
  </script>

  <!--[if lt IE 9]>
  <script>
  DD_roundies.addRule('.roundify-total', '42px');
  DD_roundies.addRule('.sale-overlay span', '50px');
  DD_roundies.addRule('.sold-out-overlay span', '50px');
  </script>
  <![endif]-->

</head>

<body id="{{ page_title | handle }}" class="{% if customer %}customer-logged-in {% endif %}template-{{ template | split: '.' | first | remove: '/' | remove: '_' }}">

  <div id="container">

    <header id="header" class="clearfix{% if settings.use_logo %} use-logo{% endif %}{% if settings.show_multiple_currencies %} currencies{% endif %}{% if settings.force_wide_view %} wide{% endif %}">

      <div id="cart-summary" class="accent-text">
        
        {% if shop.customer_accounts_enabled %}
          {% if customer %}
            <p class="cart-elem" id="cart-login">Logged in as <a href="/account">{{ customer.first_name }}</a> · {{ "Logout" | customer_logout_link }}</p>
          {% else %}
            <p class="cart-elem" id="cart-login"> {{ 'Log in' | customer_login_link }}{% if shop.customer_accounts_optional %} or {{ 'Create an account' | customer_register_link }}{% endif %}</p>
          {% endif %}
        {% endif %}
        
        {% if settings.show_multiple_currencies %}
          {% include 'snippet-currency-picker' %}
        {% endif %}
        
        <p class="cart-elem" id="cart-count">
          <a class="no-underline" href="/cart">{{ cart.item_count}} {{ cart.item_count | pluralize: 'item', 'items' }}</a> · 
          <a href="/cart">Check out</a>
        </p>
        
        <form action="/search" method="get" id="search-form" role="search">{% if settings.search_products_only %}
            <input type="hidden" name="type" value="product" />{% endif %}
            <input name="q" type="text" id="search-field" placeholder="Search store..." class="hint" />
            <input type="submit" value="" name="submit" id="search-submit" />
        </form>
        
        <!-- <a href="/cart" class="cart-elem smooth roundify-total round" id="cart-total">
          <span id="cart-price">{{ cart.total_price | money }}</span>
        </a> -->
          
      </div><!-- #cart-summary -->

      {% if settings.use_logo %}
      <a id="logo" href="/" role="banner">
        {{ 'logo.png' | asset_url | img_tag: shop.name }}
      </a><!-- #logo -->
      {% else %}
      <h1 id="title" class="smooth" role="banner"><a href="/">{{ shop.name }}</a></h1>
      {% endif %}

      <hr class="title" />
      <div class="title-text header-text">Give the Gift of GIF</div>
      
        
      <nav role="navigation">  
        <ul id="nav">
          {% for link in linklists.main-menu.links %}
          {% assign has_drop_down = false %}
          {% assign child_list_handle = link.title | handle %}
          {% comment %}If the link uses the arabic, hebrew or cyrillic alphabet, or is in Chinese or Japanese, the handle will be empty.{% endcomment %}
          {% if child_list_handle == '' %}
            {% for i in (0..8) %}
              {% unless has_drop_down %}
                {% if forloop.first %}
                  {% assign temp = 'link-list' %}
                {% else %}
                  {% capture temp %}link-list-{{ i }}{% endcapture %}
                {% endif %}
                {% if linklists[temp] and linklists[temp].links.size > 0 and linklists[temp].title == link.title %}
                  {% assign has_drop_down = true %}
                  {% assign child_list_handle = temp %}
                {% endif %}
              {% endunless %}
            {% endfor %}  
          {% else %}
            {% if linklists[child_list_handle] and linklists[child_list_handle].links.size > 0 %}
              {% assign has_drop_down = true %}
            {% endif %}
          {% endif %}
          <li class="nav-item{% if forloop.first %} first{% elsif forloop.last %} last{% endif %}{% if link.active %} active{% endif %}{% if has_drop_down %} dropdown{% endif %}">
            <a class="nav-item-link smooth" href="{{ link.url }}">
              {{ link.title }}
            </a>
            {% if has_drop_down %}
            <ul class="sub-nav">
              <li class="sub-nav-niblet"></li>
              {% for l in linklists[child_list_handle].links %}
              <li class="sub-nav-item{% if forloop.first %} first{% elsif forloop.last %} last{% endif %}">
                <a class="sub-nav-item-link {% if forloop.first %}first{% endif %} {% if forloop.last %}last{% endif %}" href="{{ l.url }}">{{ l.title }}</a>
              </li>
              {% endfor %}
            </ul>
            {% endif %}
          </li>
          {% endfor %}
        </ul>
      </nav>
      
      {% if settings.use_logo and template == 'index' %}
      <h1 class="hidden">{{ shop.name }}</h1>
      {% endif %}

    </header><!-- #header -->

    <div class="clearfix" id="content" role="main">
      {% if template == 'list-collections' %}
        {% if settings.ll_collections != '' and linklists[settings.ll_collections].links.size > 0 %}
          {% include 'snippet-collection-listing' with settings.ll_collections %}
        {% else %}
          {% include 'snippet-collection-listing' %}
        {% endif %}
      {% else %}
        {{ content_for_layout }}
      {% endif %}

    </div><!-- #content -->
    
    {% unless settings.show_about_module == false and settings.show_contact_module == false and settings.show_twitter_module == false and settings.show_mailing_list_module == false %}    
    {% assign width = '' %}
    {% unless settings.show_about_module and settings.show_contact_module and settings.show_twitter_module and settings.twitter_username.size >= 0 and settings.show_mailing_list_module %}
    {% assign width = 'one-third' %}
    {% endunless %}
      
    <footer id="footer" class="{% if settings.show_twitter_module and settings.twitter_username.size > 0 %}has-twitter{% endif %}">

      <ul class="clearfix" id="footer-modules">

        {% if settings.show_about_module %}
        <li class="ft-module {{ width }}" id="about-module">
          <h3>{{ settings.about_module_title | strip_html }}</h3>
          <div id="about-description" class="clearfix">
            <!-- {{ settings.about_module_text | newline_to_br }} -->
            gifpop! is a project by <a href="http://rachelbinx.com">Rachel Binx</a> and <a href="http://postarchitectural.com">Sha Hwang</a>. They are in love with internet culture, data visualization, and travel. Previous collaborations of theirs include <a href="http://meshu.io">Meshu</a>.
          </div>
        </li>
        <li class="ft-module {{ width }}">
          {% if settings.social_tumblr.size > 0 %}<a id="ft-share-tumblr" class="ft-share ir" href="{{ settings.social_tumblr }}">Tumblr</a>{% endif %}
          {% if settings.social_instagram.size > 0 %}<a id="ft-share-instagram" class="ft-share ir" href="{{ settings.social_instagram }}">Instagram</a>{% endif %}          
          {% if settings.social_pinterest.size > 0 %}<a id="ft-share-pinterest" class="ft-share ir" href="{{ settings.social_pinterest }}">Pinterest</a>{% endif %}
          {% if settings.social_youtube.size > 0 %}<a id="ft-share-youtube" class="ft-share ir" href="{{ settings.social_youtube }}">YouTube</a>{% endif %}
          {% if settings.social_vimeo.size > 0 %}<a id="ft-share-vimeo" class="ft-share ir" href="{{ settings.social_vimeo }}">Vimeo</a>{% endif %}
          {% if settings.social_rss.size > 0 %}<a id="ft-share-rss" class="ft-share ir" href="/blogs/{{ settings.social_rss }}.atom">RSS</a>{% endif %}
          {% if settings.social_facebook.size > 0 %}<a id="ft-share-facebook" class="ft-share ir" href="{{ settings.social_facebook }}">Facebook</a>{% endif %}
          {% if settings.twitter_username.size > 0 and settings.twitter_username != 'shopify' %}<a id="ft-share-twitter" class="ft-share ir" href="http://www.twitter.com/{{ settings.twitter_username }}">Twitter</a>{% endif %}
        </li>
        {% endif %}

        {% if settings.show_contact_module %}
        <li class="ft-module {{ width }}" id="contact-module">
          <h3>{{ settings.contact_module_title | strip_html | truncate:20 }}</h3>

          <ul id="contact-details">
            {% if settings.contact_module_address.size > 0 %}
            <li class="cd-item-1" id="cd-address">
              {{ settings.contact_module_address }}
            </li>
            {% endif %}
            {% if settings.contact_module_email.size > 0 %}<li class="cd-item-2" id="cd-email"><span>Email:</span> <a href="mailto:{{ settings.contact_module_email }}">{{ settings.contact_module_email }}</a></li>{% endif %}
            {% if settings.contact_module_phone.size > 0 %}<li class="cd-item-2" id="cd-phone"><span>Phone:</span> {{ settings.contact_module_phone }}</li>{% endif %}
            {% if settings.contact_module_fax.size > 0 %}<li class="cd-item-2" id="cd-fax"><span>Fax:</span> {{ settings.contact_module_fax }}</li>{% endif %}
          </ul>
        </li>
        {% endif %}

        {% if settings.show_twitter_module and settings.twitter_username.size > 0 %}
        <li class="ft-module {{ width }}"  id="twitter-module">
          <h3>{{ settings.contact_twitter_title }}</h3>
          <div class="clearfix tweet-area accent-text">
            <span class="twitter-niblet"></span>
          </div><!-- #tweet-area --> 

          <div class="twitter-meta">
            <a class="twitter-avatar" href="http://www.twitter.com/{{ settings.twitter_username }}"></a><!-- #twitter-avatar -->
            <div class="twitter-names">
            </div><!-- #twitter-names -->
          </div><!-- #twitter-meta -->
        </li>
        {% endif %}

        {% if settings.show_mailing_list_module %}
          <li class="ft-module {{ width }}"  id="mailing-list-module">
            {% if settings.mailing_list_title.size > 0 %}<h3>{{ settings.mailing_list_title }}</h3>{% endif %}
            {% if settings.mailing_list_tagline.size > 0 %}<p>{{ settings.mailing_list_tagline }}</p>{% endif %}
            {% if settings.mailchimp_form_action.size > 0 %}
            <form action="{{ settings.mailchimp_form_action }}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
              <input type="email" placeholder="your@email.com" name="EMAIL" id="email-input" />
              <input type="submit" class="btn styled-submit" value="Sign Up" name="subscribe" id="email-submit" />
            </form>
            {% else %}
            {% form 'customer' %}        
            {% if form.posted_successfully? %}
            <p class="success feedback accent-text">Thank you for signing up!</p>
            {% endif %}
            {% if form.errors %}
            <p class="error feedback accent-text">
            {% for field in form.errors %}
            {{ field }} {{ form.errors.messages[field] }}
            {% endfor %}
            </p>
            {% endif %}       
            <input type="hidden" id="contact_tags" name="contact[tags]" value="prospect,newsletter" />
            <input type="hidden" id="newsletter-first-name" name="contact[first_name]" value="Subscriber" />
            <input type="hidden" id="newsletter-last-name" name="contact[last_name]" value="Newsletter" />
            <input type="email" placeholder="your@email.com" name="contact[email]" id="email-input" />
            <input type="submit" class="btn styled-submit" value="Sign Up" name="subscribe" id="email-submit" />
            {% if form.posted_successfully? or form.errors %}
            <script>window.location.hash = '#mailing-list-module';</script>
            {% endif %}
            {% endform %} 
            {% endif %}
          </li>
         {% endif %}

        </ul>

      </footer><!-- #footer -->
      {% endunless %}
    </div><!-- #container -->

    <div id="sub-footer" class="clearfix">
      
      <div class="footer-left-content">
        <!-- {% if linklists.footer.links.size > 0 %}
        <div class="footer-nav accent-text" role="navigation">
        {% for link in linklists.footer.links %}
          <a href="{{ link.url }}" title="{{ link.title }}">{{ link.title }}</a>
        {% endfor %}
        </div>
        {% endif %} -->
        <p id="shopify-attr" class="accent-text" role="contentinfo">Copyright &copy; {{ "now" | date: "%Y" }} {{ shop.name }}. {{ powered_by_link }}.</p>
      </div> <!-- #footer-left-content -->
      
      {% if settings.show_payment_options %}
      <ul id="payment-options" class="clearfix">  
        {% if settings.show_dankort %}<li class="payment-option" id="pay-dankort">Dankort</li>{% endif %} 
        {% if settings.show_google_wallet %}<li class="payment-option" id="pay-google">Google Wallet</li>{% endif %}
        {% if settings.show_discover %}<li class="payment-option" id="pay-discover">Discover</li>{% endif %}
        {% if settings.show_paypal %}<li class="payment-option" id="pay-paypal">PayPal</li>{% endif %}
        {% if settings.show_amex %}<li class="payment-option" id="pay-amex">Amex</li>{% endif %}
        {% if settings.show_maestro %}<li class="payment-option" id="pay-maestro">Maestro</li>{% endif %}
        {% if settings.show_cirrus %}<li class="payment-option" id="pay-cirrus">Cirrus</li>{% endif %}
        {% if settings.show_mastercard %}<li class="payment-option" id="pay-mastercard">Mastercard</li>{% endif %}
        {% if settings.show_visa %}<li class="payment-option" id="pay-visa">Visa</li>{% endif %}      
      </ul>
      {% endif %}
      
    </div><!-- #sub-footer -->

    {{ 'jquery.colorbox-min.js' | asset_url | script_tag }}
    {{ 'shop.js' | asset_url | script_tag }}
    {% if settings.show_multiple_currencies %}
      {{ '/services/javascripts/currencies.js' | script_tag }}
      {{ 'jquery.currencies.min.js' | asset_url | script_tag }}
      {% include 'snippet-currencies' %}
    {% endif %}
    {% if template == 'page.toc' %}
      {{ 'jquery.tableofcontents.min.js' | asset_url | script_tag }}
    {% endif %}

  </body>
</html>