<p></p><div class="clearfix page-container">
  <h1 id="cart-title">Cart</h1>
  <div id="shappify-qty-cart-msg" style="display:none;"></div>

  {% if cart.item_count > 0 %}

  <form action="/cart" method="post" id="cartform">
    <table>
      <tr class="cart-table-header smooth cart-row">
        <td>Item</td>
        <td>&nbsp;</td>
        <td>Price</td>
        <td>Quantity</td>
        <td>Total</td>
        <td>&nbsp;</td>
      </tr>

      {% for item in cart.items %}
      {% if forloop.first %}
        {% assign coll_handle = item.product.collections.first.handle %}
        {% if coll_handle == 'frontpage' or coll_handle == '' %}{% assign coll_handle = 'all' %}{% endif %}
      {% endif %}
      <tr class="cart-row">
        <td class="cart-item">
          {% assign option_index = 0 %}
          {% assign found_option = false %}
          {% assign image_index = 0 %}
          {% assign found_image = false %}
          {% for option in item.product.options %}
            {% if found_option == false %}
              {% assign downcased_option = option | downcase %}
              {% if downcased_option contains 'color' or downcased_option contains 'colour' or downcased_option contains 'style' %}
                {% assign option_index = forloop.index0 %}
                {% assign found_option = true %}
              {% endif %}
            {% endif %}
          {% endfor %}
          {% for image in item.product.images %}
            {% unless found_image %}
              {% if image.alt == item.variant.options[option_index] %}
                {% assign image_index = forloop.index0 %}
                {% assign found_image = true %}
              {% endif %}
            {% endunless %}
          {% endfor %}

          {% for p in item.properties %}
            {% if p.first == 'doc-id' %}
              {% if item.product.title == 'GIF CHOP' %}
                <img src="http://gifbot.gifpop.io/gifchop/{{ p.last }}/preview.gif" style="min-height:76px;" />
              {% endif %}
              {% if item.product.title == 'FLIP FLOP' %}
                <img src="http://gifbot.gifpop.io/flipflop/{{ p.last }}/preview.gif" style="min-height:76px;" />
              {% endif %}
            {% endif %}
          {% endfor %}
        </td>
        <td class="cart-detail">
          <h2>{{ item.title }}{% if item.product.variants.size == 1 %}{% unless item.variant.title contains 'Default' %} - {{ item.variant.title }}{% endunless %}{% endif %}</h2>
          {% if settings.show_vendor %}
          <h3>{{ item.vendor }}</h3>
          {% endif %}
        </td>
        <td class="cart-price">{{ item.price | money }}</td>
        <td class="cart-quantity"><input type="text" class="field styled-input" name="updates[]" id="updates_{{ item.id }}" value="{{ item.quantity }}" /></td>
        <td class="cart-total">{{ item.line_price | money }}</td>
        <td class="cart-remove"><a href="/cart/change?line={{ forloop.index }}&quantity=0" class="remove-glyph" title="remove"></a></td>
      </tr>
      {% endfor %}
    </table>
    <div id="cart-meta">
      <h3 id="cart-subtotal">Subtotal <em>{{ cart.total_price | money }}</em></h3>
      <h3 id="estimated-shipping" style="display:none">+ Estimated shipping <em>{{ 0 | money }}</em></h3>
      <input type="submit" id="update-cart" name="update" value="Update cart" /> <span class="or">or</span> <input id="checkout-button" class="styled-submit smooth skew" type="submit" name="checkout" value="Check out" />
      {% if additional_checkout_buttons %}
      <p class="additional-checkout-buttons">
        {{ content_for_additional_checkout_buttons }}
      </p>
      {% endif %}
    </div><!-- #cart-meta -->

    {% if settings.show_cart_notes %}
    <div id="cart-notes">
      <p>{{ settings.cart_notes_title }}</p>
      <textarea class="styled-input" id="cart-notes-area" name="note">{{ cart.note }}</textarea>
    </div><!-- #cart-notes -->
    {% endif %}

  </form>

  {% else %}

  <div id="empty-cart">
    <h1>Oh no, you don't have anything in your cart yet!</h1>
    <h2>Why not try a <a href="/products/flipflop">FLIP FLOP</a> or <a href="/products/gifchop">GIF CHOP</a>?</h2>
  </div><!-- #empty-cart -->

  {% endif %} <!-- if cart.item_count > 0  -->

</div><!-- .clearfix page-container -->

{% unless cart.item_count == 0 %}

{% include 'snippet-shipping-rates-calculator' %}

<!-- <div id="breadcrumbs" class="accent-text">
  <span><a id="continue-shopping" href="/collections/{{ coll_handle }}">&larr; Continue Shopping</a></span>
</div> -->
{% endunless %}
