<div class="clearfix" id="columns-wrap">

  {% assign full_width = true %}

  {% if settings.show_product_list or settings.show_collection_list or settings.show_welcome_text %}
  <div id="products-column"{% if full_width %} class="full-width"{% endif %}>

    {% if settings.show_product_list and settings.product_list_collection != '' and collections[settings.product_list_collection].handle == settings.product_list_collection %}

    <navivation id="main-nav" class="preload">
            <div id="logo"></div>
            <ul id="nav-items">
                <li><a href="/products/gifchop">Make Your Own</a></li>
                <li><a href="/pages/how-it-works">How it Works</a></li>
                <li><a href="/pages/faqs">FAQ</a></li>
                <li><a href="/collections/artists">Art Prints</a></li>
                <li><a href="/pages/about-us">About</a></li>
                <li><a href="http://blog.gifpop.io">Blog</a></li>
            </ul>
        </navivation>

        <div id="container" class="preload">

                <!-- <div id="nav-clear"></div> -->
                <div id="home-intro" class="home-container resize-height" data-height="125">
                    <div class="sprite-bg" data-frames="10" data-speed="4">
                        <img src="" data-echo="{{ '01.jpg' | asset_url }}" />
                    </div>
                    <div class="bg-vignette bg-vignette-dark"></div>
                    <!-- <div id="nav-fade"></div> -->
                    <div class="content vertical-center">
                        <div class="wrap">
                            <h2>Turn your GIFs into IRL prints</h2>
                            <p>Gifs aren't just for screens anymore.<br />Gifpop brings animated gifs to life with the magic of lenticular printing.</p>
                            <div class="cta">
                                <a class="link-button scroll-button skew" href="#home-browse"><img src="{{ 'down-arrow.svg' | asset_url }}" width="25px" height="25px" /></a>
                            </div>
                        </div>
                    </div>
                    <a class="credit" href="/products/patakk-nine">
                      <p>GIF by Patakk</p>
                      <div class="upp">View this print</div>
                    </a>
                </div>


                <div id="home-browse" class="home-container resize-height" data-height="100">
                    <div class="sprite-bg" data-frames="16" data-speed="1">
                        <img src="" data-echo="{{ '02-browse.jpg' | asset_url }}" />
                    </div>
                    <div class="bg-vignette bg-vignette-dark"></div>
                     <div class="content vertical-center">
                        <div class="wrap">
                            <h2>Use your favorite GIFs</h2>
                            <p>From your own animated gifs to even Instagram videos, we can print it all.</p>
                            <div class="cta">
                                <a class="link-button scroll-button skew" href="/products/gifchop">Make One</a>
                            </div>
                        </div>
                    </div>

                </div>


                <div id="home-metagifs" class="home-container resize-height" data-height="50">
                  <div class="sprite-bg" data-frames="10" data-speed="8">
                    <img src="" data-echo="{{ '05-footer.png' | asset_url }}" />
                  </div>
                  <div class="bg-vignette bg-vignette-very-dark"></div>
                  <div class="content">
                    <div class="wrap">
                      <div class="artist-gifs footer-summary">
                        <h2>GIFs out in the wild</h2>
                        <p>People are making amazing things with Gifpop. Here are some of our favorites.</p>

                        <a href="http://blog.gifpop.io/post/70435876361/wells-riley-is-too-cool-deal-with-it"><img src="" data-echo="{{ 'preview-metagif-wellsriley.gif' | asset_url }}" width="250px" height="250px" /></a>
                        <a href="http://unmaru.com/post/99617625849/this-is-super-long-overdue-i-know-so-i-finally"><img src="" data-echo="{{ 'preview-metagif-unmaru.gif' | asset_url }}" width="250px" height="250px" /></a>
                        <a href="http://blog.gifpop.io/post/70299015811/traceloops-gifpop-prints-arrived-in-the-mail"><img src="" data-echo="{{ 'preview-metagifs-traceloops.gif' | asset_url }}" width="250px" height="250px" /></a>

                      </div>

                      <div class="artist-gifs footer-summary">
                          <h2>Support GIF artists</h2>
                          <p>We work with the most bitflippin' artists on the Internet to print limited editions of their work.</p>
                          <a href="/products/bees-and-bombs"><img src="" data-echo="{{ 'preview-artists-beesandbombs.gif' | asset_url }}" width="250px" height="250px" /></a>
                          <a href="/products/cindy-suen"><img src="" data-echo="{{ 'preview-artists-cindy.gif' | asset_url }}" width="250px" height="250px" /></a>
                          <a href="/products/gnumblr"><img src="" data-echo="{{ 'preview-artists-gnumblr.gif' | asset_url }}" width="250px" height="250px" /></a>
                          <div class="cta">
                              <a class="link-button skew" href="/collections/artists">See More Art Prints</a>
                          </div>
                      </div>
                    </div>
                  </div>
                  <a class="credit" href="/products/dvdp-140405">
                    <p>GIF by Davidope</p>
                    <div class="upp">View this print</div>
                  </a>
                </div>

                <div id="home-footer" class="home-container resize-height" data-height="100">
                   <div class="content">
                      <div class="wrap">
                        <div class="footer-summary">
                            <h2>GET YOUR GIF ON!</h2>
                              <ul class="make-options">
                                  <li>
                                      <div class="cta">
                                        <a class="link-button skew" href="/products/gifchop">Start with a Gif</a>
                                      </div>
                                      <h5>Gifs or Instagrams</h5>
                                  </li>
                                  <li>
                                      <div class="cta">
                                        <a class="link-button skew" href="/products/gifchop">Start with two images</a>
                                      </div>
                                      <h5>Fade between two images</h5>
                                  </li>
                                  <li>
                                      <div class="cta">
                                        <a class="link-button skew" href="/collections/artists">Featured Artists</a>
                                      </div>
                                      <h5>View the featured artists gallery</h5>
                                  </li>
                              </ul>
                              <div class="gift-card-wrapper">
                                <h3>Or, purchase a gif-t card:</h3>
                                <div style="display: inline-block;">
                                  <form method="post" action="/cart/add">
                                    <input type="hidden" name="id" value="$10" />
                                    <input class="button gift-card" type="submit" value="$10" />
                                  </form>
                                  <form method="post" action="/cart/add">
                                    <input type="hidden" name="id" value="$20" />
                                    <input class="button gift-card" type="submit" value="$20" />
                                  </form>
                                  <form method="post" action="/cart/add">
                                    <input type="hidden" name="id" value="$50" />
                                    <input class="button gift-card" type="submit" value="$50" />
                                  </form>
                                </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
        </div>

     {% endif %}

     {% if settings.show_collection_list and settings.collection_list_ll and linklists[settings.collection_list_ll].links.size > 0 %}
     <div id="products-column-header" class="clearfix">
       <h2>{{ settings.collection_list_title }}</h2>
         <a class="accent-text" href="{{ shop.url }}/collections">View all collections →</a>
     </div><!-- #products-column-header -->

     {% assign count = 0 %}

     <ul id="collection-list" class="clearfix">
     {% for link in linklists[settings.collection_list_ll].links %}
       {% if link.type == 'collection_link' %}
         {% assign collection = link.object %}
         {% include 'snippet-collection-item' with 'four' %}
         {% assign count = count | plus: 1 %}
       {% endif %}
     {% endfor %}
     </ul>

     {% if count == 0 %}
     <div class="rte">
        <p>There are no collections in your <strong>{{ linklists[settings.collection_list_ll].title }}</strong> link list.</p>
        <p>Either add collections to your <strong>{{ linklists[settings.collection_list_ll].title }}</strong> link list by browsing to your <a href="/admin/links">Navigation page</a>, or choose a different link list in your <a href="/admin/themes/current/settings">theme settings</a> in the <strong>Home > Module: Collection List</strong> section.</p>
     </div>
     {% endif %}

    {% endif %}

    {% if settings.show_welcome_text %}
    <div id="welcome-text">
      <h2 class="smooth widget-title" id="fp-welcome-title">{{ pages[settings.welcome_text_page].title }}</h2>
      <div class="rte">
        {{ pages[settings.welcome_text_page].content }}
      </div>
    </div><!-- #welcome-text -->
    {% endif %}

  </div><!-- #products-column -->
  {% endif %}

</div><!-- #columns-wrap -->
<script>

/* Module: Browse */

jQuery('#fp_bb_category, #fp_bb_vendor').change(function(){
  if (jQuery(this).val().length > 0) {
    window.location = jQuery(this).val();
  }
});

</script>