<div class="clearfix page-container">

<h2 style="margin: 20px 0;-webkit-font-smoothing: antialiased;text-indent: 6px; color:#000;">Gifpop is a tool to make custom cards from animated gifs, using the magic of lenticular printing.</h2>
<a class="index-wrapper gif-hover" href="/products/gifchop">
  <div style="background-image:url({{ 'banner-dvdp.gif' | asset_url }});" class="artist-gif"></div>
  <div style="background-image:url({{ 'index_card.jpg' | asset_url }});" class="index-image"></div>
  <div class="caption">
    <h2>Make Your Own</h2>
    <p>Upload your own gifs to be printed</p>
  </div>
</a>
<a class="index-wrapper gif-hover" href="/collections/artists">
  <div style="background-image:url({{ '89a-gif.gif' | asset_url }});" class="artist-gif gifgif"></div>
  <div style="background-image:url({{ 'index_artists.jpg' | asset_url }});" class="index-image"></div>
  <div class="caption">
    <h2>Support Artists</h2>
    <p>Because your life needs more gif art</p>
  </div>
</a>
<a class="index-wrapper" href="/pages/how-it-works">
  <div style="background-image:url({{ 'index_how.jpg' | asset_url }});" class="index-image"></div>
  <div class="caption">
    <h2>How It Works</h2>
    <p>Learn more about the lenticular printing process</p>
  </div>
</a>
<div class="index-wrapper">
  <div style="background-image:url({{ 'index_more.jpg' | asset_url }});" class="index-image"></div>
  <div class="caption">
    <h2>Business Time</h2>
    <p><a href="mailto:hi@gifpop.io"><u>Email us</u></a> to learn more about our business cards and wedding invitation sets</p>
  </div>
</div>


  <h1 class="page-title" style="margin-top: 500px">{{ page.title }}</h1>

  <div id="page-content" class="{% if settings.show_page_blog == false %}full-width{% endif %}">
    
    <div class="rte">{{ page.content }}</div>
    
    <div id="contact-form-wrapper">
    
      {% form 'contact' %}

      {% if form.posted_successfully? %}
      <div class="success feedback accent-text">
        <p>Thanks for contacting us! We'll get back to you as soon as possible.</p>
      </div>
      {% endif %}

      {% if form.errors %}
      <div class="error feedback accent-text">
        <p>Oops, sorry. We were unable to submit your inquiry because it contained {{ form.errors | size | pluralize: 'an error', 'a few errors' }}. Please correct the following and submit again:</p>
        {% for field in form.errors %}
          <p>The {{ field | capitalize | replace: 'Body', 'Message' }} field {{ form.errors.messages[field] }}.</p>
        {% endfor %}
      </div>
      {% endif %}
      
      {% unless form.posted_successfully? %}
    
      <p>
        <label>Your Name:</label>
        <input type="text" id="contactFormName" name="contact[name]" placeholder="Your name" class="styled-input{% if form.errors contains 'name' %} error{% endif %}" value="{{ contact.fields.name }}" />
      </p>
      <p>
        <label>Email:</label>
        <input required="required" type="email" id="contactFormEmail" name="contact[email]" placeholder="your@email.com" class="styled-input{% if form.errors contains 'email' %} error{% endif %}" value="{{ contact.fields.email }}" />
      </p>
      <p>
        <label>Phone Number:</label>
        <input type="tel" id="contactFormTelephone" name="contact[phone]" placeholder="555-555-1234" class="styled-input{% if form.errors contains 'phone' %} error{% endif %}" value="{{ contact.fields.phone }}" />
      </p> 
      <p>
        <label>Message:</label>
        <textarea required="required" rows="10" cols="60"  id="contactFormMessage" name="contact[body]" placeholder="Your Message" class="styled-input{% if form.errors contains 'body' %} error{% endif %}">{{  contact.fields.body }}</textarea>
      </p>
      <p>
        <input class="btn styled-submit" type="submit" id="contactFormSubmit" value="Send" />
      </p>
      
      {% endunless %}
    
      {% if form.posted_successfully? or form.errors %}
        <script>
          window.location.hash = '#page-content';
        </script>
      {% endif %}

    {% endform %}
    
    </div><!-- #contact-form-wrapper -->  
    
  </div><!-- #page-content -->
  
  {% if settings.show_page_blog %} {% include 'snippet-sidebar' %} {% endif %}

</div><!-- #page-container -->
{% include 'snippet-breadcrumbs' %}

